/* About */
#about {
    background-image: linear-gradient(to bottom right, #9d3873, #12004a);
}

.about-content {
    display: flex;
    flex-wrap: wrap;
}

/* WARN: 'about-content' is a flex-container for 
the 'about-flex-image' and 'about-flex-text'. 
'about-flex-image' and 'about-flex-text' have
div-children 'about-image' and 'about-flex'.
These final div-chilren allowed for padding and margins
don't play nice with flex apparently.
    *** Create an issue with css Flex *** */

.about-flex-image, .about-flex-text {
    flex: 1; /*not working? see about-text margin*/
}

.about-flex-text {
    color: white; /*working*/
    text-align: justify; /*working*/
}

.about-flex-image img {
    width: 70%; 
    max-width: 500px;
    padding: 20px;
}

.about-image {
    margin: auto;
    text-align: center;
}

.about-text {
    margin: auto;
    text-align: center;
    padding: 20px 40px;
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column; /* Stacks vertically */
        margin: auto;
    }
    
    .about-flex-text {
        padding: 10% 10%;
    }
}