/* Experience */
#experience {
    background-image: linear-gradient(to bottom right, #4773bf, #120063);
}

.experience-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    min-width: 800px;
    margin: 0 auto;
}

.experience-grid .experience-grid-item {
    /* Style each item if needed */
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative;
    border: solid black;
    padding: 20px;
    box-sizing: border-box; /* ensures padding and border are included in the element's total width and height */
}

.one-space {
    min-width: 50px;
}

#one img {
    transform: 50%;
}

/* Mobile view */
@media screen and (max-width: 768px) { /* adjust breakpoint as needed */
    .experience-grid {
        grid-template-columns: 1fr; /* single column layout */
    }

    #one img {
        margin: 0;
        align-items: center;
    }
}
