/* Experience */
#experience {
    background-image: linear-gradient(to bottom right, #1d1423, #261f4e);
}

.experience-divider {
    width: 100%;
    border-color: #fff;
}

.experience-grid {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 1fr;
    gap: 10px 10px;
    margin: 50px auto auto auto;
}

@media screen and (max-width: 768px) {
    .experience-grid {
        grid-template-columns: 1fr; /* single column layout */
    }

    .experience-divider {
        width: 85%;
        border-color: #fff;
        margin: auto;
    }
}

/* col 1 items */
.combo-col-one-two {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
}

.col-one-image {
    align-items: right;
}

.col-one {
    display: flex;
}

.col-one-image img {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .combo-col-one-two {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px 0 0 0;
    }
}

/* col 2 items */
.col-two {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 20px 0 0 0;
}

@media screen and (max-width: 768px) {
    .col-two {
        padding: 20px 0 0 20px;
        text-align: left;
    }
}

/* col 3 items */
.col-three {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(239, 220, 166);
    padding: 10px 0 0 0;
}

@media screen and (max-width: 768px) {
    .col-three {
        padding: 0 20px 0 40px;
        text-align: left;
    }
}

/* col 4 items */
.col-four {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 10px 40px 0 0;
}

@media screen and (max-width: 768px) {
    .col-four {
        padding: 0 20px 0 40px;
        text-align: left;
    }
}
