/* Color Wheel
    --a-color: #4F1D5E;
    --b-color: #2A016C;
    --c-color: #00004F;
    --d-color: #273E66;
    --e-color: #3A555E;
*//**/

/* Font Families */

/* Base font */
body, h1 {
    font-family: 'Montserrat', sans-serif;
}

/* Alternative font 1 */
h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

/* Alternative font 2 */
caption, .caption-text {
    font-family: 'Roboto', sans-serif;
}

/* HTML Styles */

html {
scroll-behavior: smooth;
}

/* Basic Styles */

body {
    font-family: Arial, sans-serif;
    position: relative;
}

