/* Navbar Styles */
/* Desktop View */
.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    /* WARN: if changing navbar height, change scroll-padding-top in main.css 
       WARN: when adding menu items, .navbar height must change.*/
    height: 105px; /* navbar height */
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000; /* Ensures the navbar is always on top */
    align-items: center;
    background-image: linear-gradient(#050306, #36363a);
    padding: 10px 10px;
}

/* nav-brand "Peter McMaster" */
.nav-brand {
    position: relative;
    padding: 5px 0px;
    transition: transform 1.2s ;
}

.nav-brand a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    transition: transform 1s ease-in-out;
}

/* nav-divider */
.nav-divider {
    width: 65%;
    border-color: #fff;
}

/* nav-list: Navbar Links */
.nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.nav-list a {
    padding: 0px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;

    color: #fff;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
}

.nav-list a:hover{
    background-color: #322c3b;
    border: 1px solid #8f98be;
    transition: background-color 0.5s ease;
    transition: border 0.5s ease;
}

/* Menu Toggle (Hamburger Menu -- Hidden on Desktop View */
.menu-toggle {
    display: none;
}

/* Mobile View */
@media (max-width: 768px) {

    .navbar {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row; /* navbar -- 'ROW'  when shown, for mobile view */

        width: 100%;
        height: 75px;
        position: fixed;
        z-index: 10;

        transition: transform 0.6s ease; /* smoothly transition for hide/show navbar */
    }

    /* nav-brand -- "Peter McMaster" Mobile View */
    .nav-brand {
        text-align: center;
        flex-grow: 1; 
        display: flex;  /* Center the <a> tag within nav-brand */
        align-items: center;  /* Vertically centers the <a> tag */
        justify-content: center;  /* Horizontally centers the <a> tag */
        transition: transform 1.2s ease;
    }

    /* nav-divider -- Hide from Mobile View */
    .nav-divider {
        display: none;
    }

    /* Menu Toggle (Hamburger Menu) */
    .menu-toggle {
        flex-shrink: 0;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        background-color: #fff;
        height: 3px;
        width: 25px;
        margin: 3px;
        transition: 1.4s;
    }

    /* hide/show navbar on scroll event -- Mobile only */
    .navbar.hide {
        transform: translateY(-100%); 
        transition: transform 1.2s ease; /* smoothly transition for hide/show navbar */
    }

    /* nav-list -- Open from Hamburger Menu on Mobile View */
    .nav-list {
        /* for animation */
        height:0;
        overflow: hidden;
        transition: height 0.5s ease;

        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        nav-right: 0;
        background-color: #050306;
    }

    .nav-list a {
        padding: 10px;
        width: 100%;
        display: block;
        border: 1px solid #575757; /* Optional: add a border between links */
        transition: background-color 0.3s ease;
    }

    .nav-list.active {
        /* when expanded */
        height: 332px;
        width: 40%;
        display: block;
    }
}
