#projects {
    background-image: linear-gradient(to bottom right, #261f4e, #504439);
}


.eyespy-project {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    align-items: center;
}

iframe {
    width: 800px;
    height: 500px;
    border: 0;
}