#projects {
    background-image: linear-gradient(to bottom right, #261f4e, #696144);
}


.eyespy-project {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    align-items: center;
}

iframe {
    flex-grow: 1;
    width: 800px;
    min-height: 500px;
    border: 0;
}

.project-blurb {
    margin: 2rem 16%;
    color: rgb(211, 211, 211);
}

@media screen and (max-width: 768px) {
    iframe {
        width: 100%;
    }

    .project-blurb {
        margin: 2rem 10%;
    }
}

.project-blurb h3, p, a {
    padding: 0.8rem 0;
}

.eyespy-project {
    padding: 0.8rem 0;
}

.project-blurb a {
    color: rgb(211, 211, 211);
}

.project-blurb p {
    font-size: 1rem
}

.project-blurb h3 {
    font-size: 1.5rem;
}