/* Sections Styles */

section {
    min-height: 100vh; /* This will give each section a minimum height of the viewport height, making the site scrollable */
    margin-left: 0px;
    border-left: 0px;
    padding-left: 0px;
    padding: 50px 15px;
    box-sizing: border-box;
}

#home { background-color: #e57373; }
#about { background-color: #81c784; }
#projects { background-color: #64b5f6; }
#portfolio { background-color: #ffd54f; }
#testimonials { background-color: #ba68c8; }
#resume { background-color: #6f79ad; }
#contact { background-color: #4db6ac; }

/* Home */

#home {
    margin-top: 105px; /* space for navbar */
}
