/* Testimonials Section */

#testimonials {
    min-width: 1px;
    background-image: linear-gradient(to bottom left, #3e3155, #10152b);
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    color: rgb(211, 211, 211);
}

.testimonials-container a {
    color: rgb(211, 211, 211);
    text-decoration: none;
    cursor: pointer;
}

.testimonials-container a:hover {
    color: rgb(211, 211, 211);
    text-decoration: none; 
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .testimonials-container {
        flex-direction: column;
    }
}

.testimonial-one, .testimonial-two, .testimonial-three {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: right;
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    .testimonial-one, .testimonial-two, .testimonial-three {
        padding: 10px 0 30px 0;
    }
}

.testimonial-image {
    padding: 10px 0;
}

.testimonial-image img {
    width: 12rem;
    margin: auto;
    box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.5);
}

.testimonial-header {
    text-align: center;
    margin-top: 0.5rem;
}

.testimonial-header h5 {
    margin-top: 0.5rem;
}

.testimonial-one .testimonial-text {
    flex: auto;
    text-align: center;
    max-width: 360px;
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    .testimonial-one .testimonial-text {
        max-width: 330px;
        padding: 1rem 1rem;
    }
}

.testimonial-two .testimonial-text {
    flex: auto;
    text-align: center;
    max-width: 300px;
    padding: 10px 0;
}